body {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    transform-origin: 0 0;
    height:  100%;
    width: 85%;
    margin: 0;
    background-color: rgb(155, 247, 253);
    overflow-x: scroll;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
   margin-top: 50px;
    width: 350px;
    height: 400px;
}

.title {
    display: flex;
    padding: 15px;
    font-size: 30px;
    justify-content: center;
    font-family: serif;
    font-weight: 700;
    color:rgb(247, 9, 25);
    text-shadow: 0 0 7px #FF0000;
}

.content {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
}

h3 {
    align-self: center;
}
.scoreBoard {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -60px;
}

.button {
    display: flex;
    flex-direction: row;
    flex: 3 1 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 0;
}

button {
    padding: 20px;
    background: rgb(253, 136, 156);
    margin: none;
    border: 1px solid white;
    border-radius: 10%;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 1px 1px;
}
button:hover {
    background: #f121bd;
    border: 1.5px solid rgb(248, 58, 58);
}
button:active {
    background: #f1cb21;
    border: 1px solid white;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

ul {
    display: flex;
    flex-direction: row;
}

p {
    text-align: center;
}
h3 {
    margin-left: -20px;
}
h4 {
    margin-top: -0px;
    margin-bottom: -25px;
    text-align: center;
}

.footer {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color:rgb(247, 9, 25);
    text-shadow: 0 0 7px #FF0000;
    margin-top: -40px;
}